@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&display=swap');
body, p {
    padding:0;
    margin:0;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
